:root {
    --f7-card-margin-horizontal: 16px;
    --f7-card-border-radius: 8px;
}

html.theme-dark {
    background-color: black;
    body {
        background-color: black;
    }
}

.collections-list {
    --f7-list-bg-color: transparent;
	--f7-list-item-title-font-size: 21px;
}
.collections-list img {
	border-radius: 8px;
}
@media (min-width: 768px) {
    .collections-list .item-inner::after {
        background-color: transparent;
    }
	.collections-list ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (min-width: 1024px) {
	.collections-list ul {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}